<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  If you have some interest in the Ruby on rails programming, You can just write the letter to me. My e-mail is: <a href="https://www.google.ru/">Go to google</a>.<br>Good luck, guys!
</p>