<% provide(:title, "Contact") %>
<style>
  .colortext {
  	color: green;
  }
</style>
<h1>Contact</h1>
<p>
  Hi, Man! My name is Ivan, nice to meet you.<br>If you have some interest in the <b><span class="colortext">Ruby on Rails</span></b> programming, You can just write the letter to me.<br>My e-mail is: <a href="https://www.google.ru/">Go to google</a>.<br>Good luck, guys!
</p>